
body{
    background-image:  url(https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-03.jpg);
    background-size: cover;
    margin: 0;
}
h1 {
    font-family: "Copperplate", fantasy;
    text-shadow: 2px 2px 5px purple;
    }

img {
    border-radius: 50%;
    border: 1px ;
    padding: 5px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table{
    border-color:darkblue;
    border-style: dashed;
}
tr{
    font-family: 'Times New Roman', Times, serif;
}
.column1{
   
    font-weight: bold;
}
.row1{
    background-color: wheat;
    font-weight: bold;
}
a{
    border: 1px solid purple;
    padding: 20px, 25px;
    color:blue;
    text-decoration: none;
      
}
a:hover{
    opacity: 1;
    color:green;
    text-decoration: none;
}